.DS_Store
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# data from the dataset they  provide
/dataset/augment_exception
/dataset/augment_location
/dataset/programs_processed_precond_nograb_morepreconds
/simulation/unity_simulator/

# random artifacts from old virtualhome
.idea/

# HRL/HIL code from https://github.com/hoangminhle/hierarchical_IL_RL
hierarchical_IL_RL/